version: 2
updates:
  # Enable version updates for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    assignees:
      - "d1vanloon"
    # Group all Docker updates into a single PR
    groups:
      docker:
        patterns:
          - "*"
    commit-message:
      prefix: "chore"
      include: "scope"
